{% extends "layout.twig" %}
{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light p-3 border m-0 mb-5 row">
        <div class="container col-6">
            <h3>Maxime ALAPHILIPPE</h3>
            <p>Développeur Web & Symfony</p>
            <a class="btn btn-primary" href="https://mablog.projetformationma.com/public/assets/img/cv.pdf" target="_blank"><i class="bi bi-file-person"></i> Voir le CV</a>
        </div>
        <div class="container col-5 col-sm-3 col-lg-2 col-xl-2">
            <img class="img-avatar-home rounded" src="https://mablog.projetformationma.com/public/assets/img/Avatar.PNG">
        </div>
    </div>
    {% if varList.postList is defined %}
        <h5 class="m-3">Les derniers posts :</h5>
        <div class="container-fluid mt-1 row justify-content-around">
            {% for post in varList.postList %}
                <div class="card post bg-light col-12 col-sm-5 col-lg-3 col-xl-3 mt-5 p-0">
                    {% if post.image is not null %}
                        <img class="card-img-top post-image" src={{"#{post.image}"}} alt="Card image cap">
                    {% else %}
                        <img class="card-img-top post-image" src="https://mablog.projetformationma.com/public/assets/img/post.jpg" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.chapo}}</p>
                        <div class="col-12 row justify-content-around">
                            <div class="col-12">
                                <a class="btn btn-primary" href={{"/post/#{post.id}/#{post.title}"|replace({' ': '-'})}}>Lire</a>
                            </div>
                        {% if post.FK_user_id == varList.user.id %}
                            <div class="col-6 row">
                                <div class="col-6">
                                    <a class="btn btn-primary" href={{"/post/modification/#{post.id}/#{post.title}"|replace({' ': '-'})}}>Modifier</a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-danger delete-post" data-post-id={{"#{post.id}"}}>Supprimer</a>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        {% if post.modification_date is not null %}
                            <p class="card-text post-date mt-3 mb-0">Posté le {{ post.modification_date|date("d/m/Y", "Europe/Paris") }}</p>
                        {% else %}
                            <p class="card-text post-date mt-3 mb-0">Posté le {{ post.creation_date|date("d/m/Y", "Europe/Paris") }}</p>     
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container text-center mt-3">
            <p>Aucun post trouvé</p>
        </div>
    {% endif %}
{% endblock %}
