<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{"#{cssLink}"}}"/>
    <link rel="stylesheet" href="{{"#{bootstrapLink}"}}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="{{"#{scriptLink}"}}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if varList.userAdmin is defined %}
            <li class="nav-item">
              <a class="nav-link" href="/admin/post/creation">Créer un post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/posts">Les Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">Les commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/account">Mon Compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/logout">Déconnexion</a>
            </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% if flashMessageList is defined %}
      <div class="container text-center text-danger mt-3">
          {% for flashMessage in flashMessageList %}
              {% if flashMessage.type == "danger" %}
                  <div class="container text-center text-danger mt-3">
                      <p>Erreur :<p>
                      <p>{{flashMessage.message}}<p>
                  </div>
              {% else %}
                  <div class="container text-center text-success mt-3">
                      <p>{{flashMessage.message}}<p>
                  </div>
              {% endif %}
          {% endfor %}
      </div>
  {% endif %}
    <div>{% block content %}{% endblock %}</div>
  </body>
</html>