{% extends "adminLayout.twig" %}
{% block head %}
    <title>Les posts</title>
{% endblock %}

{% block content %}

{% if flashMessageList is defined %}
    <div class="container text-center text-danger mt-3">
        {% for flashMessage in flashMessageList %}
            {% if flashMessage.type == "danger" %}
                <div class="container text-center text-danger mt-3">
                    <p>Erreur :<p>
                    <p>{{flashMessage.message}}<p>
                </div>
            {% else %}
                <div class="container text-center text-success mt-3">
                    <p>{{flashMessage.message}}<p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<div class="container text-center">
   <p>Les posts</p>
   {% if varList.postList is defined %}
    <div class="container text-center mt-3 row justify-content-around">
        {% for post in varList.postList %}
            <div class="card col-5 mt-5">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.chapo}}</p>
                    {% if post.modification_date is not null %}
                        <p class="card-text"><i class="bi bi-calendar"></i> {{ post.modification_date|date("d/m/Y", "Europe/Paris") }}</p>
                    {% else %}
                        <p class="card-text"><i class="bi bi-calendar"></i> {{ post.creation_date|date("d/m/Y", "Europe/Paris") }}</p>     
                    {% endif %}
                    <div class="col-12 row justify-content-around">
                        <div class="col-5">
                            <a class="btn btn-primary" href={{"/admin/post/#{post.id}/#{post.title}"|replace({' ': '-'})}}>Voir</a>
                        </div>
                    {% if varList.userAdmin.FK_type_user_id == 2 %}
                        <div class="col-6 row">
                            <div class="col-6">
                                <a class="btn btn-primary" href={{"/admin/post/modification/#{post.id}/#{post.title}"|replace({' ': '-'})}}>Modifier</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger admin-delete-post" data-post-id={{"#{post.id}"}}>Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="container text-center mt-3">
            <p>Aucun post trouvé</p>
        </div>
    {% endif %}
</div>

<div id="admin-post-deletion-container" class="modal-container">
    <div class="modal-content container col-5 mt-5 border border-dark rounded text-start">
        <div class="container col-5">
            <p>Confimer la suppression ?</p>
        </div>
        <div class="container row">
            <div class="container col-5">
                <a id="admin-confirm-post-deletion" class="btn btn-danger">Supprimer</a>
            </div>
            <div class="container col-5">
                <button id="admin-delete-post-close" class="btn btn-primary">Annuler</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}