{% extends "adminLayout.twig" %}
{% block head %}
    <title>Modifier un post</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light p-3 border m-0 mb-5 row">
        <div class="container col-12">
            <h3>Modifier un post</h3>
            <p>Modifier votre post</p>
        </div>
    </div>
    <div class="container text-center col-12 col-sm-12 col-lg-8 col-xl-8 bg-light rounded p-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% for keyFormSetting in varList.formSetting|keys %}
                {% set formValue = varList.formSetting[keyFormSetting] %}
                {% if keyFormSetting == "image" and varList.postValue.image is not null %}
                    <p>Image du post</p>
                    <img class="card-img-top post-image" src={{"/public/upload/#{varList.postValue.id}/#{varList.postValue.image}"}} alt="Card image cap">
                {% endif %}
                {% if varList.postValue[keyFormSetting] is not empty %}
                    <div class="form-group mt-3">
                        <label for="{{"#{keyFormSetting}"}}">{{formValue.label}}</label>
                        <input type="{{"#{formValue.type}"}}" class="form-control" id="{{"#{keyFormSetting}"}}" name="{{"#{keyFormSetting}"}}" value="{{"#{varList.postValue[keyFormSetting]}"}}">
                    </div>
                {% else %}
                    <div class="form-group mt-3">
                        <label for="{{"#{keyFormSetting}"}}">{{formValue.label}}</label>
                        <input type="{{"#{formValue.type}"}}" class="form-control" id="{{"#{keyFormSetting}"}}" name="{{"#{keyFormSetting}"}}" placeholder="{{"#{formValue.placeholder}"}}">
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-12 text-center mt-3">
                <label for="category">Catégorie</label>
                <select class="form-control" name="category">
                    <option value="">Catégorie</option>
                    {% for postCategory in varList.postCategoryList %}
                        {% set selectedCategory = '' %}
                        {% if postCategory.id == varList.postValue.FK_category_id %}
                            {% set selectedCategory = 'selected' %}
                        {% endif %}
                        <option value="{{postCategory.id}}" {{selectedCategory}}>{{postCategory.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 text-center mt-3">
                <label for="statut">Statut</label>
                <select class="form-control" name="statut">
                    <option value="">Statut</option>
                    {% for postStatut in varList.postStatutList %}
                        {% set selectedStatut = '' %}
                        {% if postStatut.id == varList.postValue.FK_post_statut_id %}
                            {% set selectedStatut = 'selected' %}
                        {% endif %}
                        <option value="{{postStatut.id}}" {{selectedStatut}}>{{postStatut.post_statut_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 text-center mt-3">
                <label for="user">Auteur</label>
                <select class="form-control" name="user">
                    {% for user in varList.userList %}
                        {% set selectedUser = '' %}
                        {% if user.id == varList.postValue.FK_user_id %}
                            {% set selectedUser = 'selected' %}
                        {% endif %}
                        <option value="{{user.id}}" {{selectedUser}}>{{user.last_name}} {{user.first_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            <a class="btn btn-danger mt-3" href={{"/admin/readPost/#{varList.postValue.slug}"}}>Annuler</a>
        </form>
    </div>
{% endblock %}