{% extends "adminLayout.twig" %}
{% block head %}
    <title>Les posts</title>
{% endblock %}

{% block content %}
   {% if varList.post is defined %}
   <div class="container-fluid bg-light p-3 border m-0 mb-5 row">
        <div class="container col-12">
            <h3>{{varList.post.title}}</h3>
            <p>{{varList.post.chapo}}</p>
        </div>
    </div>
    <div class="container m-auto text-center mt-3 row justify-content-around">
        <div class="card col-12 col-sm-12 col-lg-8 col-xl-8 mt-3 mb-5">
            {% if varList.post.image is not null %}
                <img class="card-img-top post-image" src={{"https://mablog.projetformationma.com/public/upload/#{varList.post.id}/#{varList.post.image}"}} alt="Card image cap">
            {% else %}
                <img class="card-img-top post-image" src="https://mablog.projetformationma.com/public/assets/img/post.jpg" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{varList.post.content}}</p>
                {% if varList.post.modification_date is not null %}
                    <p class="card-text"><i class="bi bi-calendar"></i> {{ varList.post.modification_date|date("d/m/Y", "Europe/Paris") }}</p>
                {% else %}
                    <p class="card-text"><i class="bi bi-calendar"></i> {{ varList.post.creation_date|date("d/m/Y", "Europe/Paris") }}</p>     
                {% endif %}
                <p class="card-text">Ecrit par : {{varList.post.last_name}} {{varList.post.first_name}}</p>
                {% if varList.userAdmin.FK_type_user_id == 2 and post.FK_user_id == varList.userAdmin.id %}
                    <div class="col-5">
                        <a class="btn btn-primary" href={{"/admin/post/modification/#{varList.post.id}/#{varList.post.title}"|replace({' ': '-'})}}>Modifier</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
        {% if varList.commentList is defined %}
            <div class="container text-center mt-3">
                {% for comment in varList.commentList %}
                    <div class="container col-12 col-sm-12 col-lg-5 col-xl-5 mt-3 bg-light border border-dark rounded text-start">
                        <div class="container mt-3">
                            <p>{{comment.last_name}} {{comment.first_name}}</p>
                        </div>
                        <div class="container">
                            <p>{{comment.content}}</p>
                            <p>{{comment.comment_statut_name}}</p>
                        </div>
                        <div class="container mt-3">
                            <p class="post-date">Posté le 
                            {% if comment.modification_date is not null %}
                                {{comment.modification_date|date("d/m/Y", "Europe/Paris")}}</p>
                            {% else %}
                                {{comment.creation_date|date("d/m/Y", "Europe/Paris")}}</p>     
                            {% endif %}
                        </div>
                        <div class="col-12 row">
                            {% if comment.FK_statut_comment_id == 1 %}
                            <div class="col-6">
                                <a class="btn btn-primary mb-3" href={{"/admin/comment/validation/#{comment.id}/#{varList.userAdmin.token}"}}>Valider</a>
                            </div>
                            {% else %}
                            <div class="col-6">
                                <a class="btn btn-danger mb-3" href={{"/admin/comment/invalidation/#{comment.id}/#{varList.userAdmin.token}"}}>Invalider</a>
                            </div>
                            {% endif %}
                            <div class="col-6">
                                <button class="btn btn-danger admin-delete-comment mb-3" data-comment-id={{"#{comment.id}"}} data-token={{"#{varList.userAdmin.token}"}}>Supprimer</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

<div id="admin-comment-deletion-container" class="modal-container">
    <div class="modal-content-value comment-deletion-content container col-5 mt-5 border border-dark rounded text-start">
        <div class="container col-12 text-center">
            <p>Confimer la suppression ?</p>
        </div>
        <div class="container row col-12 text-center">
            <div class="container col-6">
                <a id="admin-confirm-comment-deletion" class="btn btn-danger  mb-3">Supprimer</a>
            </div>
            <div class="container col-6">
                <button id="admin-delete-comment-close" class="btn btn-primary mb-3">Annuler</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}