{% extends "layout.twig" %}
{% block head %}
    <title>Modifier un post</title>
{% endblock %}

{% block content %}

{% if errorLog is defined %}
    <div class="container text-center text-danger mt-3">
        <p>Erreur<p>
        {% for errorValue in errorLog %}
            <p>{{errorValue.message}}{{errorValue.value}}</p>
        {% endfor %}
    </div>
{% endif %}

{% if successLog is defined %}
    <div class="container text-center text-success mt-3">
        {% for successValue in successLog %}
            <p>{{successValue.message}}{{successValue.value}}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container text-center">
    <form action="" method="post">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" name="title" value="{{"#{varList.post.title}"}}">
        </div>
        <div class="form-group">
            <label for="chapo">Chapo</label>
            <input type="text" class="form-control" id="chapo" name="chapo" value="{{"#{varList.post.chapo}"}}">
        </div>
        <div class="form-group">
            <label for="content">Contenu</label>
            <textarea class="form-control" id="content" name="content">{{varList.post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
        <a class="btn btn-primary" href={{"post-#{varList.post.id}-#{varList.post.title}"|replace({' ': '-'})}}>Voir</a>
    </form>
</div>

{% endblock %}

