{% extends "layout.twig" %}
{% block head %}
    <title>Les posts</title>
{% endblock %}

{% block content %}

{% if errorLog is defined %}
    <div class="container text-center text-danger mt-3">
        <p>Erreur<p>
        {% for errorValue in errorLog %}
            <p>{{errorValue.message}}{{errorValue.value}}</p>
        {% endfor %}
    </div>
{% endif %}

{% if successLog is defined %}
    <div class="container text-center text-success mt-3">
        {% for successValue in successLog %}
            <p>{{successValue.message}}{{successValue.value}}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container text-center">
   <p>Les posts</p>
   {% if varList.postList is defined %}
    <div class="container text-center mt-3 row justify-content-around">
        {% for post in varList.postList %}
            <div class="card col-5 mt-5">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.chapo}}</p>
                    {% if post.modification_date is not null %}
                        <p class="card-text"><i class="bi bi-calendar"></i> {{ post.modification_date|date("d/m/Y", "Europe/Paris") }}</p>
                    {% else %}
                        <p class="card-text"><i class="bi bi-calendar"></i> {{ post.creation_date|date("d/m/Y", "Europe/Paris") }}</p>     
                    {% endif %}
                    <div class="col-12 row justify-content-around">
                        <div class="col-5">
                            <a class="btn btn-primary" href={{"post-#{post.id}-#{post.title}"|replace({' ': '-'})}}>Voir</a>
                        </div>
                    {% if post.FK_user_id == varList.user.id %}
                        <div class="col-6 row">
                            <div class="col-6">
                                <a class="btn btn-primary" href={{"post-modification-#{post.id}-#{post.title}"|replace({' ': '-'})}}>Modifier</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger" href={{"post-deletion-#{post.id}"}}>Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}