{% extends "layout.twig" %}
{% block head %}
    <title>Les posts</title>
{% endblock %}

{% block content %}

{% if errorLog is defined %}
    <div class="container text-center text-danger mt-3">
        <p>Erreur<p>
        {% for errorValue in errorLog %}
            <p>{{errorValue.message}}{{errorValue.value}}</p>
        {% endfor %}
    </div>
{% endif %}

{% if successLog is defined %}
    <div class="container text-center text-success mt-3">
        {% for successValue in successLog %}
            <p>{{successValue.message}}{{successValue.value}}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container text-center">
   {% if varList.post is defined %}
    <div class="container text-center mt-3 row justify-content-around">
        <div class="card col-8 mt-3 mb-5">
            <div class="card-body">
                <h5 class="card-title">{{varList.post.title}}</h5>
                <p class="card-text">{{varList.post.chapo}}</p>
                <p class="card-text">{{varList.post.content}}</p>
                {% if varList.post.modification_date is not null %}
                    <p class="card-text"><i class="bi bi-calendar"></i> {{ varList.post.modification_date|date("d/m/Y", "Europe/Paris") }}</p>
                {% else %}
                    <p class="card-text"><i class="bi bi-calendar"></i> {{ varList.post.creation_date|date("d/m/Y", "Europe/Paris") }}</p>     
                {% endif %}
                <p class="card-text">Ecrit par : {{varList.post.last_name}} {{varList.post.first_name}}</p>
                {% if varList.post.FK_user_id == varList.user.id %}
                    <div class="col-5">
                        <a class="btn btn-primary" href={{"post-modification-#{varList.post.id}-#{varList.post.title}"|replace({' ': '-'})}}>Modifier</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
        {% if varList.commentList is defined %}
            <div class="container text-center mt-3">
                {% for comment in varList.commentList %}
                    {% if comment.FK_user_id == varList.user.id or comment.FK_statut_comment_id != 1 %}
                        {% if varList.commentModificationId != comment.id %}
                        <div class="container col-5 mt-3 border border-dark rounded text-start">
                            <div class="container">
                                <p>{{comment.last_name}} {{comment.first_name}} -
                                {% if comment.modification_date is not null %}
                                    {{comment.modification_date|date("d/m/Y", "Europe/Paris")}}</p>
                                {% else %}
                                    {{comment.creation_date|date("d/m/Y", "Europe/Paris")}}</p>     
                                {% endif %}
                            </div>
                            <div class="container">
                                <p>{{comment.content}}</p>
                                <p>{{comment.comment_statut_name}}</p>
                            </div>
                            {% if comment.FK_user_id == varList.user.id %}
                                <div class="col-6 row">
                                    <div class="col-6">
                                        <a class="btn btn-primary" href={{"post-#{varList.post.id}-#{varList.post.title}-comment-modification-#{comment.id}"|replace({' ': '-'})}}>Modifier</a>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-danger delete-comment" data-comment-id={{"#{comment.id}"}}>Supprimer</button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="modal-container comment-modification-container">
                            <div class="modal-content comment-modification-content container col-5 mt-5 border border-dark rounded text-start">
                                <div class="container">
                                    <p>{{comment.last_name}} {{comment.first_name}} -
                                    {% if comment.modification_date is not null %}
                                        {{ comment.modification_date|date("d/m/Y", "Europe/Paris") }}</p>
                                    {% else %}
                                        {{ comment.creation_date|date("d/m/Y", "Europe/Paris") }}</p>     
                                    {% endif %}
                                </div>
                                <div class="container">
                                    <form action="" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="comment_content_modification" name="comment_content_modification" value="{{"#{comment.content}"}}">
                                            <p>{{comment.comment_statut_name}}</p>
                                        </div>
                                        <div class="container row">
                                            <div class="container col-5">
                                                <button type="submit" class="btn btn-primary">Valider</button>
                                            </div>
                                            <div class="container col-5">
                                                <a class="btn btn-danger" href={{"post-#{varList.post.id}-#{varList.post.title}"|replace({' ': '-'})}}>Annuler</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% if varList.commentModificationId == 0 %}
        {% if varList.user is defined %}
            <div class="container col-8 mt-3 mb-5 text-center">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="content">Commenter</label>
                        <input type="text" class="form-control" id="content" name="content" placeholder="Contenu du commentaire">
                    </div>
                    <button type="submit" class="btn btn-primary">Commenter</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>

<div id="comment-deletion-container" class="modal-container">
    <div class="modal-content comment-deletion-content container col-5 mt-5 border border-dark rounded text-start">
        <div class="container col-5">
            <p>Confimer la suppression ?</p>
        </div>
        <div class="container row">
            <div class="container col-5">
                <a id="confirm-comment-deletion" class="btn btn-danger">Supprimer</a>
            </div>
            <div class="container col-5">
                <button id="delete-comment-close" class="btn btn-primary">Annuler</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}